html
 head
   include partials/head.jade
 body
   include partials/menue.jade
   .container
     br
     br
     br
     br
     include partials/headline.jade
     .row
     - for (var i=1;i<=numberofimage;i++) 
        .col-md-6
         .thumbnail
           img(src="/images/"+city+"/"+city+"-"+i+".jpg")
   include partials/jsinclude.jade