html
 head
   include partials/head.jade
 body
   include partials/menue.jade
   .container
       br
       br
       br
       br
       include partials/headline.jade
     .row
       .col-md-12(align="center")
         img.img-responsive(src="/images/image.jpg",alt="fd")

   include partials/jsinclude.jade